body {
/*  text-align: center;*/
    margin: 0;
    padding: 0;
}

#clickTag {
	width: 160px;
	height: 600px;
	top: 0px;
	left: 0px;
	cursor: pointer;
	position: absolute;
	z-index: 100;
}

#hp-ad-link {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
	cursor: pointer;
}

#hp-ad {
    width: 158px;
    height: 598px;
    overflow: hidden;
    position: relative;
}

.hp-ad-fg {
    height: inherit;
    position: absolute;
    background: url('../img/moor_160_overlays.png') no-repeat 0 0;
    top: 0;
    left: 12px;
    overflow: hidden;
    opacity: 0;
    width: 160px;
	z-index: 30;
}

.hp-ad-overlay {
	position: absolute;
	width: 119px;
	height: 439px;
	background: url('../img/synergy_moor_160_img_ovly.png') no-repeat;
	top: 161px;
	left: 41px;
	opacity: 1;
	z-index: 25;
}

.hp-ad-bg {
	width: 160px;
	height: 600px;
	background: url('../img/synergy_moor_160_img.jpg') no-repeat;
	top: 0px;
	left: 0px;
	opacity: 1;
}

.logoRect {
	position: absolute; 
	background-color: #01a982;
	opacity: 0;
}

#logo-rect-top {
	left: 11px; 
	top: 376px; 
	width: 326px; 
	height: 20px;
	transform-origin: left; 
	-moz-transform-origin: left; 
	-o-transform-origin: left; 
	-webkit-transform-origin: left; 
	-ms-transform-origin: left; 
}

#logo-rect-bottom {
	left: 11px; 
	top: 451px; 
	width: 326px; 
	height: 20px;
	transform-origin: right; 
	-moz-transform-origin: right; 
	-o-transform-origin: right; 
	-webkit-transform-origin: right; 
	-ms-transform-origin: right;
}

#logo-rect-left {
	left: 11px; 
	top: 376px; 
	width: 20px; 
	height: 95px;
	transform-origin: bottom; 
	-moz-transform-origin: bottom; 
	-o-transform-origin: bottom; 
	-webkit-transform-origin: bottom; 
	-ms-transform-origin: bottom;
}

#replay-btn {
	opacity: 0;
	position: absolute;
	left: 142px;
	top: 581px;
	width: 10px;
	height: 10px;
	cursor: pointer;
	z-index: 101;
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
}	

img.replay {
	display: block;
}

#replay-btn:hover {
	animation: spin 0.5s;
	-ms-animation: spin 0.5s;
	-moz-animation: spin 0.5s;
	-webkit-animation: spin 0.5s;
	-o-animation: spin 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

img {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;
}

a {
  outline-width: 0;
}

a:focus{
    outline: none;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}

@-ms-keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}

@-moz-keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}

@-webkit-keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}

@-o-keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}

#hp-ad-fg-composable { background-position: 0 0; top: 54px; }
#hp-ad-fg-synergy { background-position: -160px 0; top: 173px; }
#hp-ad-fg-fluid { background-position: -480px 0; top: 168px; }
#hp-ad-fg-hp { background-position: -800px 0; top: 18px; }
#hp-ad-fg-accelerate { background-position: -960px 0; top: 173px; }
#hp-ad-fg-fineprint { background-position: -1440px 0; top: 536px; left: 5px; }
#hp-ad-fg-button { background-position: -1120px 0; top: 240px; }
#hp-ad-fg-softwaredefined { background-position: -320px 0; top: 100px; }
#hp-ad-fg-intel { background-position: -1280px 0; top: 473px; left: 16px; }
#hp-ad-fg-unified { background-position: -640px 0; top: 234px; }
#hp-ad-blank { background: none; background-color: #fff; margin: 0; width: 160px; left: 0; opacity: 1; }